<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Lista della Spesa</title>
</head>
<body>
    <div class="container">
        <h1>La tua Lista della Spesa</h1>
        
        <!-- Form per aggiungere un nuovo elemento -->
        <form action="/aggiungi" method="post" >
            <input type="text" name="elemento" placeholder="Aggiungi un elemento" required>
            <button type="submit" class="aggiungi">Aggiungi</button>
        </form>

        {% if lista_spesa %}
            <ul style="margin-left: auto;">
            {% for elemento in lista_spesa %}
                <div class="prodotto"><br>
                    <div class="elemento">
                        {{ elemento.elemento }}
                    </div>
                        <form action="/rimuovi/{{ elemento.id }}" method="post" style="display:inline;">
                            <button type="submit" class="rimuovi">Rimuovi</button>
                        </form>
                </div>
            {% endfor %}
            </ul>
        {% else %}
            <p>La lista è vuota.</p>
        {% endif %}
        <form action="/svuota" method="post">
            <button type="submit" class="svuota">Svuota lista</button>
        </form>
    </div>  
</body>
</html>
